
mixin small-video(title, url, thumbnail)
  div(class='media mb-2')
    img(src=thumbnail class='align-self-center mr-3 video-thumb')
    div(class='media-body')
      h5(class='mt-0')
        a(href=url)= title
