extends layout.pug

block content
  h1(class='mb-5')= title

  div(class='embed-responsive embed-responsive-'+aspect)
    video(id='video' class='embed-responsive-item' poster=id+'_thumb.png' controls=true autoplay=true data-manifest=id+'_manifest.mpd')

  div(id='unsupported' class='alert alert-danger d-none' role='alert') Your browser unfortunately does not support the video player for this site! Try using a recent version of Firefox or Google Chrome.

  p
    span(class='text-muted') Posted on #{date}
    br
    each tag in tags
      span(class='badge badge-secondary mx-1')= tag
  != description

block scripts
  script(src='/js/video.min.js')
